.header{
	width: 1600px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	& .logo {
		display: flex;
		align-items: center;
		gap: 10px;
		font-weight: bold;
	}
}