.banner {
	text-align: center;
	position: relative;
	& img {
		filter: brightness(30%)
	}
	& .text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 2rem;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		& h1 {
			margin: 0;
		}
		& p {
			font-size: 18px;
			color: darken(white, 20%);
		}
	}
}